body {

    background: url("stud.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FDDC0A;

    font-family: serif;

    font-size: 1em;

    line-height: 1.5em;

    

}

table {

    text-align: center;

    width: 60%;

    margin: 5% auto;

    table-layout: fixed:

    border-collapse: collapse;

}

th,td {

    border: 1px solid black;

}


tr {
    background-color: #ffffff;
}